$primaryBlack: #222;
$primaryGreen: #82b340;
$primaryWhite: #fff;
$primaryGrey: #ececec;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primaryWhite;
  color: $primaryBlack;
  font-family: 'Ubuntu', sans-serif;
}