$primaryBlack: #292b2c;
$primaryGreen: #5cb85c;
$primaryBlue: #0275d8;
$primaryRed: #d9534f;
$primaryWhite: #f7f7f7;
$primaryGrey: #ececec;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primaryWhite;
  color: $primaryBlack;
  font-family: 'Ubuntu', sans-serif;
}